.home__img{
    width: 900px;
    height: 450px;
    /* border:5px dotted red; */
    outline: none;
    border-style: none;
}

.home-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}