.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #e4bad3;
    padding: 1rem;
    border: 1.5px solid #2f1c49;
    border-radius: 8px;
    box-sizing: border-box;
    color: #2f1c49;
    box-shadow: #cbb9e4 6px 2px 16px 0px, #e4bad3 -6px -2px 16px 0px;
    height: 75px;
  }
  
  .navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    margin: auto;
  }
  
  .navbar__logout {
    margin-left: auto;
  }
  
  .navbar__link {
    text-decoration: none;
    color: #2f1c49;
    font-family: monospace;
    font-size: 20px;
  }
  
  .navbar__link {
    background-image: linear-gradient(
      to right,
      #2f1c49,
      #2f1c49 50%,
      #2f1c49 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar__link:before {
    content: '';
    background: #2f1c49;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar__link:hover {
   background-position: 0;
   cursor: pointer;
  }
  
  .navbar__link:hover::before {
    width:100%;
  }